<div class="container header login">
	<%= form_tag login_path do %>
		<div class="input-field">
			<i class="material-icons prefix">account_circle</i>
			<%= label_tag :username %>
			<%= text_field_tag :username,"", class: "active", autofocus: true%>
		</div>
		<div class="input-field">
			<i class="material-icons prefix">vpn_key</i>
			<%= label_tag :password %>
			<%= password_field_tag :password, "", class: "" %>
		</div>
		<%= submit_tag "Log In", class: "btn btn-default" %>
	<% end %>
</div>