<p>Updated At: <%= @stock.updated_at.in_time_zone("Eastern Time (US & Canada)").strftime '%r' %></p>
<div class="container">
	<ul class="list-group row is-flex">
		<li class="list-group-item col-xs-6 col-sm-4 col-md-3"><strong>

		Last Trade Date:</strong><br /><%= @stock.last_trade_date.strftime '%m/%d/%Y' %>

		</li>
		<li class="list-group-item col-xs-6 col-sm-4 col-md-3"><strong>

		Last Trade Time:</strong><br /> <%= @stock.last_trade_time %>

		</li>
		<li class="list-group-item col-xs-6 col-sm-4 col-md-3"><strong>

		Last Trade Price:</strong><br /> <%= @stock.last_trade_price_only %>

		</li>
		<li class="list-group-item col-xs-6 col-sm-4 col-md-3"><strong>

		Avg. Daily Volume:</strong><br /> <%= @stock.average_daily_volume%>

		</li>
		<li class="list-group-item col-xs-6 col-sm-4 col-md-3"><strong>

		Open:</strong><br /> <%= @stock.open %>

		</li>
		<li class="list-group-item col-xs-6 col-sm-4 col-md-3"><strong>

		Close:</strong><br /> <%= @stock.previous_close %>

		</li>
		<li class="list-group-item col-xs-6 col-sm-4 col-md-3"><strong>

		Ask:</strong><br /> <%= @stock.ask %>

		</li>
		<li class="list-group-item col-xs-6 col-sm-4 col-md-3"><strong>

		Bid:</strong><br /> <%= @stock.bid %>

		</li>
		<li class="list-group-item col-xs-6 col-sm-4 col-md-3"><strong>

		Book Value:</strong><br /> <%= @stock.book_value %>

		</li>
		<!-- Add highlighting for minus -->
		<li class="list-group-item col-xs-6 col-sm-4 col-md-3"><strong>

		Change:</strong><br /> <%= @stock.change %>

		</li>
		<li class="list-group-item col-xs-6 col-sm-4 col-md-3"><strong>

		Percent Change: </strong><br /><%= @stock.changein_percent %>

		</li>
		<li class="list-group-item col-xs-6 col-sm-4 col-md-3"><strong>

		Change From Year High:</strong><br /> <%= @stock.change_from_year_high %>

		</li>
		<li class="list-group-item col-xs-6 col-sm-4 col-md-3"><strong>

		Change From Year Low:</strong><br /><%= @stock.change_from_year_low %>

		</li>
		<li class="list-group-item col-xs-6 col-sm-4 col-md-3"><strong>

		Change and Percent Change:</strong><br /> <%= @stock.change_percent_change %>

		</li>
		<li class="list-group-item col-xs-6 col-sm-4 col-md-3"><strong>

		Day's High:</strong><br /> <%= @stock.days_high %>

		</li>
		<li class="list-group-item col-xs-6 col-sm-4 col-md-3"><strong>

		Day's Low:</strong><br /> <%= @stock.days_low %>

		</li>
		<li class="list-group-item col-xs-6 col-sm-4 col-md-3"><strong>

		Fifty Day Moving Average:</strong><br /> <%= @stock.fiftyday_moving_average %>

		</li>
		
		<li class="list-group-item col-xs-6 col-sm-4 col-md-3"><strong>

		Market Cap:</strong><br /> <%= @stock.market_capitalization %>

		</li>
		<li class="list-group-item col-xs-6 col-sm-4 col-md-3"><strong>

		One Year Target Price:</strong><br /> <%= @stock.oneyr_target_price %>

		</li>
		<li class="list-group-item col-xs-6 col-sm-4 col-md-3"><strong>

		Year High:</strong><br /> <%= @stock.year_high %>

		</li>
		<li class="list-group-item col-xs-6 col-sm-4 col-md-3"><strong>

		Year Low:</strong><br /> <%= @stock.year_low %>

		</li>
		<li class="list-group-item col-xs-6 col-sm-4 col-md-3"><strong>

		Price / Sales:</strong><br /> <%= @stock.price_sales %>

		</li>
		<li class="list-group-item col-xs-6 col-sm-4 col-md-3"><strong>

		Short Ratio:</strong><br /> <%= @stock.short_ratio %>

		</li>
	</ul>
</div>
	