<div class="container">
	<h1><%= @stock.symbol %> - <%= @stock.name %> - <%= @stock.stock_exchange %></h1>
	<button id="openModal" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Set Price Alerts</button>
	<hr />
	<%= render 'partials/stock_info' %>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<%= form_tag "/setAsset", method: "POST", remote: true do %>
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Set Price Alerts</h4>
				</div>
				<div class="modal-body">

					<%= hidden_field_tag :asset_id, @asset.id %>
					<div class="form-group">
						<%= label_tag :high, "Set High:" %>
						<%= text_field_tag :high, @asset.high, class: "form-control" %>
					</div>
					<div class="form-group">
						<%= label_tag :low, "Set Low:" %>
						<%= text_field_tag :low, @asset.low, class: "form-control" %>
					</div>
					<div class="form-group">
						<%= label_tag :start_time, "Set Start Time:" %>
						<%= time_select :asset, :start_time, {minute_step: 15} %>
					</div>
					<div class="form-group">
						<%= label_tag :finish_time, "Set End Time:" %>
						<%= time_select :asset, :finish_time, {minute_step: 15} %>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<%= submit_tag "Save", class: "btn btn-primary", disable_with: "Saving..." %>
				</div>
			<% end %>
		</div>
	</div>
</div>