<div class="container">
	<div class="center header z-depth-2">
		<h1> Welcome, <%= @user.username %> </h1>
		<%= link_to edit_user_path(@user), class: "btn waves-effect waves-light btn" do %>
			      <i class="material-icons left">mode_edit</i>
					Edit User Info
		<% end %>
		<div class="container">
			<%= form_tag @stock, remote: true do %>
				<div class="input-field inline"
					<%= label_tag :ticker, "Multiple stocks can be added by separating tickers with a comma:" %><br/>
					<%= text_field_tag :ticker,"", autofocus: true %>
				</div>
				<%= button_tag type: "submit", 'data-disable-with' => "Please wait..", class: "btn waves-effect waves-light" do %>
					<i class="material-icons">add</i>
				<% end %>
			<% end %>
		</div>
	</div>
			
	<ul id="stocks" class="collection with-header">
		<li id="portfolio-header" class="collection-header"><h2>Portfolio</h2></li>
		<%= render @stocks %>
	</ul>
</div>